.profile {
  padding-top: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  border: 2px solid black;
  border-radius: 10px;
}

.avatar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 50px;
  border: 2px solid black;
  width: 100px;
  background-color: rgb(42, 42, 42);
}

.name {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.tag {
  text-align: center;
  color: rgb(128, 128, 128);
}

.location {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(128, 128, 128);
}

.stats {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-top: 2px solid #6d6d73;
  background-color: #d3d3d3;
  border-radius: 0px 0px 8px 8px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
}

.items:not(:last-child) {
  border-right: 2px solid #6d6d73;
}
